/* General styles */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #a8edea, #fed6e3);
}

/* Flashcard container */
.flashcard-container {
    background: rgb(223, 244, 255);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 100px;
    text-align: center;
    width: 350px;
}

.flashcard {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    padding: 200px 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f9fafc;
    border: 2px solid #ddd;
    transition: transform 0.3s, background-color 0.3s;
}

.flashcard:hover {
    transform: scale(1.05);
    background-color: #f3f4f6;
}

/* Button styles */
.buttons button {
    font-size: 18px;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#flipButton {
    background-color: #e9bad7;
    color: white;
}

#passButton {
    background-color: #28a745;
    color: white;
}

.buttons button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.buttons button:active {
    transform: translateY(0);
    box-shadow: none;
}
